@import "tailwindcss";

@theme inline {
  --font-manrope: var(--font-manrope);
}

body {
  background: #f7fafc;
  color: #181c1e;
}

.nav-item {
  @apply flex items-center gap-2.5 px-3 py-2 rounded-md text-xs font-semibold text-[#6b7a8a] hover:bg-[#ebeef0] hover:text-[#181c1e] transition-colors;
}
.nav-item.active {
  @apply bg-[#0a1a3c] text-white;
}
